---
apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
  - name: BASIC_AUTH_NAME_HERE
    mappingMethod: claim
    type: BasicAuth
    basicAuth:
      url: >-
        HTTPS_ENDPOINT_HERE